# Git and version control
.git
.gitignore

# Node dependencies
node_modules

# Build output
.next
out

# Local environment variables
.env
.env.local
.env.docker
.env.production

# Docker and editor files
Dockerfile*
docker-compose*
.dockerignore
README.md
*.log

.vscode
Makefile
helm-charts
coverage*